version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "11:00"
  open-pull-requests-limit: 10

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    time: "11:00"
    day: "tuesday"
  open-pull-requests-limit: 5
  commit-message:
    prefix: "chore"
    include: "scope"
