name: Release

on:
  workflow_dispatch:
  push:
    branches: [ master ]

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*
        check-latest: true
    - run: npm install --no-package-lock
      name: Install dev dependencies
    - run: npm run build
      name: Run build
    - run: npm run test
      name: Run unit tests
    - run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Release

